@model MoviesTabTab.Models.Movie

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <img class="img-responsive" src="@Model.PosterUrl" alt="@Model.Title poster" style="cursor:pointer" data-toggle="modal" data-target="#@Model.Title.Replace(' ','_').Replace(':','_').Insert(0, "DetailsModal")" />
        </div>
        <div class="col-md-5">
            <h3><strong style="cursor:pointer" data-toggle="modal" data-target="#@Model.Title.Replace(' ', '_').Replace(':','_').Insert(0, "DetailsModal")">@Model.Title</strong><small> - @Model.Runtime min.<br />Release date: @Model.ReleaseDate.ToShortDateString()</small></h3>
            <span class="rating" id="@Model.Title.Replace(' ', '_').Replace(':','_').Insert(0, "UserRating")" style="float:left"></span>
            <br />
            <h4>Director: @Model.Director</h4>
            <p>@Model.Tagline</p>
            <br />
            <button class="btn btn-success btn-lg bottom" data-toggle="modal" data-target="#@Model.Title.Replace(' ', '_').Replace(':','_').Insert(0,"TrailerModal")" data-theVideo="@Model.TrailerUrl"><span class="glyphicon glyphicon-film"></span> Watch Trailer!</button>
            @if (Model.Screenings.Where(a => a.ShowTime > DateTime.Now).Count() != 0)
            {
                @Html.ActionLink("Book Now!", "Booking", "Bookings", new { movieId = Model.MovieId }, new { @class = "btn btn-primary btn-lg bottom" })
            }
        </div>
        <div class="col-md-5">
            <h2><span class="glyphicon glyphicon-star" style="color:gold"></span>@Model.Score<small>/10 (@Model.VoteCount votes)</small></h2>
        </div>
    </div>
</div>

@*Movie Trailer Modal*@
<div class="modal fade" id="@Model.Title.Replace(' ', '_').Replace(':','_').Insert(0,"TrailerModal")" tabindex="-1" role="dialog" aria-labelledby="@Model.Title.Replace(' ', '_').Replace(':','_').Insert(0,"TrailerModal")-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="@Model.Title.Replace(' ', '_').Replace(':','_').Insert(0,"TrailerModal")-label">@Model.Title - Trailer</h4>
            </div>
            <div class="modal-body">
                <iframe width="560" height="315" src="" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-lg bottom" data-toggle="modal" data-target="#@Model.Title.Replace(' ', '_').Replace(':','_').Insert(0, "DetailsModal")">Synopsis</button>
                @if (Model.Screenings.Where(a => a.ShowTime > DateTime.Now).Count() != 0)
            {
                    @Html.ActionLink("Book Now!", "Booking", "Bookings", new { movieId = Model.MovieId }, new { @class = "btn btn-primary btn-lg bottom" })
                }
            </div>
        </div>
    </div>
</div>

@*Movie Details Modal*@
<div class="modal fade" id="@Model.Title.Replace(' ', '_').Replace(':','_').Insert(0, "DetailsModal")" tabindex="-1" role="dialog" aria-labelledby="@Model.Title.Replace(' ', '_').Replace(':','_').Insert(0, "DetailsModal")-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="@Model.Title.Replace(' ', '_').Replace(':','_').Insert(0, "DetailsModal")-label">@Model.Title</h2>
                <img class="img-responsive" src="@Model.BackdropPath" alt="@Model.Title backdrop" />
            </div>
            <div class="modal-body">
                <p><strong>Synopsis:</strong><br />@Model.Synopsis</p>
            </div>
            <div class="modal-footer">
                @if (Model.Screenings.Where(a => a.ShowTime > DateTime.Now).Count() != 0)
            {
                    @Html.ActionLink("Book Now!", "Booking", "Bookings", new { movieId = Model.MovieId }, new { @class = "btn btn-primary btn-lg bottom" })
                }
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/PlayYoutubeEmbedContent.js"></script>

<script>
    $.ajax({
        url: '@Url.Action("Rating", "Rating", new { movieId = Model.MovieId})',
        method: "GET",
        datatype: "html"
    }).success(function (response) {
        $('#@Model.Title.Replace(' ', '_').Replace(':', '_').Insert(0, "UserRating")').html(response);
    });
</script>
